<div class="main-container">
  <div class="loading-overlay" *ngIf="loading">
    <div class="loading-spinner"></div>
    <div class="loading-text">Loading...</div>
  </div>

  <div class="container mt-2">
    <div class="d-flex justify-content-center">
      <div>
        <h4>Select Component</h4>
        <mat-form-field>
          <mat-label>Components</mat-label>
          <mat-select (selectionChange)="onSelectComponent($event.value)">
            @for (com of components; track com) {
              <mat-option [value]="com.id">
                {{ com.name }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      <div class="ms-5">
        <h4>Select Component Type</h4>
        <mat-form-field>
          <mat-label>Component Type</mat-label>
          <mat-select [disabled]="componentType.length === 0 ">
            @for (type of componentType; track type) {
              <mat-option [value]="type.id">{{ type.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
